<% title(@discussion.question, "Discussions") %>

<h2><%= link_to @discussion.question %></h2>
<span id='author'>
  <p>
    Edited by
    <% @discussion.users.each do |user| %>
      <%= user.email %>
    <% end %>
  </p>
</span>

<ul id='responses'>
  <% @discussion.responses.each do |response| %>
    <li>
      #<%= response.id %> -
       <%= link_to response.answer, [@discussion, response] %>
    </li>
  <% end %>
</ul>

<%= link_to "Edit Discussion", edit_discussion_path(@discussion) %>
<%= link_to "Delete Discussion", discussion_path(@discussion),
    method: :delete,
    confirm: "Are you sure you want to delete this discussion?" %>
<%= link_to "New Response", new_discussion_response_path(@discussion) %>
<p>
  <%= link_to "Home", discussions_path %>
</p>
